body
{
    background: black;
}
p
{
margin-left: 10px;
margin-top: 10px;
}
h1
{
    font-family: 'Open Sans', sans-serif;
    color: orangered;
}
h2
{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
h3
{
    font-family: 'Open Sans', sans-serif;
    color: grey;
    
}
header
{

}
footer
{

}
form
{
    background: blue;
    color: white;
    text-align: left;
    border-radius: 5px;
    width: 500px;
    height: 500px;
}
label
{
    
    display: inline-block;
    color: white;
    width: 200px;
    font-family: 'Roboto', sans-serif, bold;
    margin: 5px;
}
form{
    text-align: left;
    font-size: 1em;
    margin: 10px;
    padding: 10px;
    background: grey;
}
iframe
{
    margin: right;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    background: white;
    
}
.cont1
{
font-family: 'Open Sans', sans-serif;
display: flex;
justify-content: space-between;
color: white;
background: blue;
}

.cont2
{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: blue;
    background: white;
}

.cont3
{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    background: linear-gradient(90deg, rgba(7,102,152,1) 0%, rgba(47,108,218,1) 49%, rgba(7,5,143,1) 100%);
    padding-left: 10px;
    padding-top: 10px;
}

.cont4
{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    color: blue;
    background: white;
    margin-left: 10px;
    margin-top: 10px;
}
.cont5
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    background: rgb(0, 0, 0);
    margin-left: 10px;
    margin-top: 10px;
    gap: 20px;
    align-items: center;
}
.cont6
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    margin-left: 10px;
    margin-top: 10px;
    gap: 20px;
    align-items: center;
}
.cont5white
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    background: white;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left:10px;
    gap: 10px;
}
.cont6white
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    color: black;
    background:white;
    margin-left: 10px;
    margin-top: 10px;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left:20px;
}

.illu
{
 
}

img
{

}
button
{
font-size: 0.8em;
background-color: orangered;
color: white;
width: 250px;
height: 30px;
border-radius: 20px;
}
.button:active
{
background-color: yellow;
color: black;
}
button:hover
{
background-color: white;
color: orangered;
}
.contcenter
{
    justify-content: space-around;
}
.action
{

}
.text
{

}
.text2
{

}
.text3
{

}
#facebook
{
    padding: 0%;
    margin: 5px;
    background: grey;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
#twitter
{
    padding: 0%;
    margin: 5px;
    background: grey;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
#instagram
{
    padding: 0%;
    margin: 5px;
    background:grey;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
#linkedin
{
    padding: 0%;
    margin: 5px;
    background:grey;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    
}
#youtube
{
    padding: 0%;
    margin: 5px;
    background:grey;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    
}
#nav
{
   
    color: white;
    background: black;
    width: 150px;
    height: 30px;
}
a{
    color: white;
    margin: 0%;
}

#white
{
    background: white;
    flex-wrap: wrap;
}
#centerbutton
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40%;
    
}
#centerbutton2
{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    
    
}
#big
{
    font-size: 2em;
    color: blue;
    
}
#white-text
{
    color: white;
    font-size: 0.6em;
    text-align: left;
}